#shoutbox
    overflow: hidden
    padding: 0 10px 10px 10px

    #shoutbox-options
        float: right
        width: 40px

    #shoutbox-form
        clear: both

        .shoutbox-buttons
            padding: 5px
